.background {
    width: 100%;
    height: 100px;
    background-image: url("./assets/eyeofrah.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: gif-play 1s steps(1) infinite;
    cursor: pointer;
}


.background.paused {
    animation-play-state: paused;
}

.character {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

@keyframes gif-play {
    from {
        background-position: 0;
    }
    to {
        background-position: -100%;
    }
}